From Google sheets, to IG & FB (only image).blueprint.json
{
    "name": "From Google sheets, to IG & FB",
    "flow": [
        {
            "id": 4,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 5,
                "sheetId": "Sheet1",
                "__IMTCONN__": 3345882,
                "spreadsheetId": "/1F0cbbSgkn9ZTgqPqItVtdKoX-pOhfY6j/1MO0L95_ca8SbZ87HbR-2qOWN0ozljIzH0qF9VzURa50",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -738,
                    "y": 42
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection sheet (luisjackson1014@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Generated Images",
                                "Post summary"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "No (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "FileType (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "TokenString (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "TargetMedia (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "(E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -395,
                    "y": 47
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "filter": {
                                "name": "Target Filter",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{lower(4.`3`)}}",
                                            "b": "instagram",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": -133,
                                    "y": -294
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 2,
                                            "module": "gemini-ai:createAnImage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 3816486
                                            },
                                            "filter": {
                                                "name": "Image Filter",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{lower(4.`1`)}}",
                                                            "b": "image",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "model": "imagen-3.0-generate-002",
                                                "prompt": "{{4.`2`}}",
                                                "aspectRatio": "4:3",
                                                "personGeneration": "ALLOW_ADULT"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 199,
                                                    "y": -498
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "model": {
                                                            "mode": "chose",
                                                            "label": "Imagen 3.0 Generate 002"
                                                        },
                                                        "aspectRatio": {
                                                            "mode": "chose",
                                                            "label": "4:3"
                                                        },
                                                        "personGeneration": {
                                                            "mode": "chose",
                                                            "label": "Allow Adults"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "gemini-ai-q9zyjp"
                                                            },
                                                            "label": "My Gemini AI connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:gemini-ai-q9zyjp",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "Model"
                                                    },
                                                    {
                                                        "name": "prompt",
                                                        "type": "text",
                                                        "label": "Image Prompt",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "personGeneration",
                                                        "type": "select",
                                                        "label": "Person Generation Rules",
                                                        "validate": {
                                                            "enum": [
                                                                "ALLOW_ADULT",
                                                                "DONT_ALLOW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "aspectRatio",
                                                        "type": "select",
                                                        "label": "Aspect Ratio",
                                                        "validate": {
                                                            "enum": [
                                                                "1:1",
                                                                "3:4",
                                                                "4:3",
                                                                "9:16",
                                                                "16:9"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 14,
                                            "module": "instagram-business:CreatePostPhoto",
                                            "version": 1,
                                            "metadata": {
                                                "designer": {
                                                    "x": 661,
                                                    "y": -500,
                                                    "messages": [
                                                        {
                                                            "category": "setup",
                                                            "severity": "error",
                                                            "message": "Value must not be empty."
                                                        }
                                                    ]
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "filter": {
                                "name": "Target Filter",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{lower(4.`3`)}}",
                                            "b": "facebook",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": -92,
                                    "y": 321
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 9,
                                            "module": "gemini-ai:createAnImage",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 3816486
                                            },
                                            "filter": {
                                                "name": "Image Filter",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{lower(4.`1`)}}",
                                                            "b": "image",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "model": "imagen-3.0-generate-002",
                                                "prompt": "{{4.`2`}}",
                                                "aspectRatio": "1:1",
                                                "personGeneration": "ALLOW_ADULT"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 269,
                                                    "y": 171
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "model": {
                                                            "mode": "chose",
                                                            "label": "Imagen 3.0 Generate 002"
                                                        },
                                                        "aspectRatio": {
                                                            "mode": "chose",
                                                            "label": "1:1"
                                                        },
                                                        "personGeneration": {
                                                            "mode": "chose",
                                                            "label": "Allow Adults"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "gemini-ai-q9zyjp"
                                                            },
                                                            "label": "My Gemini AI connection"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:gemini-ai-q9zyjp",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "model",
                                                        "type": "select",
                                                        "label": "Model"
                                                    },
                                                    {
                                                        "name": "prompt",
                                                        "type": "text",
                                                        "label": "Image Prompt",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "personGeneration",
                                                        "type": "select",
                                                        "label": "Person Generation Rules",
                                                        "validate": {
                                                            "enum": [
                                                                "ALLOW_ADULT",
                                                                "DONT_ALLOW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "aspectRatio",
                                                        "type": "select",
                                                        "label": "Aspect Ratio",
                                                        "validate": {
                                                            "enum": [
                                                                "1:1",
                                                                "3:4",
                                                                "4:3",
                                                                "9:16",
                                                                "16:9"
                                                            ]
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 16,
                                            "module": "facebook-pages:CreatePostWithPhotos",
                                            "version": 6,
                                            "metadata": {
                                                "designer": {
                                                    "x": 685,
                                                    "y": 164,
                                                    "messages": [
                                                        {
                                                            "category": "setup",
                                                            "severity": "error",
                                                            "message": "Value must not be empty."
                                                        }
                                                    ]
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 8,
                        "module": "gemini-ai:createAVideo",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 3816486
                        },
                        "filter": {
                            "name": "Video Filter",
                            "conditions": [
                                [
                                    {
                                        "a": "{{lower(4.`1`)}}",
                                        "b": "none",
                                        "o": "text:equal"
                                    }
                                ]
                            ]
                        },
                        "mapper": {
                            "model": "veo-2.0-generate-001",
                            "prompt": "{{4.`2`}}",
                            "aspectRatio": "16:9",
                            "enhancePrompt": true,
                            "durationSeconds": "8",
                            "personGeneration": "allow_adult"
                        },
                        "metadata": {
                            "designer": {
                                "x": 244,
                                "y": -159,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Google Sheets - Watch New Rows' [4] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "model": {
                                        "mode": "chose",
                                        "label": "VEO 2.0"
                                    },
                                    "addImage": {
                                        "mode": "chose"
                                    },
                                    "aspectRatio": {
                                        "mode": "chose",
                                        "label": "16:9"
                                    },
                                    "enhancePrompt": {
                                        "mode": "chose"
                                    },
                                    "personGeneration": {
                                        "mode": "chose",
                                        "label": "Allow Adults"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "gemini-ai-q9zyjp"
                                        },
                                        "label": "My Gemini AI connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:gemini-ai-q9zyjp",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "prompt",
                                    "type": "text",
                                    "label": "Image Prompt"
                                },
                                {
                                    "name": "addImage",
                                    "type": "boolean",
                                    "label": "Add Cover Image"
                                },
                                {
                                    "name": "negativePrompt",
                                    "type": "text",
                                    "label": "Negative Prompt"
                                },
                                {
                                    "name": "durationSeconds",
                                    "type": "number",
                                    "label": "Video Duration in Seconds",
                                    "validate": {
                                        "max": 8,
                                        "min": 5
                                    }
                                },
                                {
                                    "name": "enhancePrompt",
                                    "type": "boolean",
                                    "label": "Enhance Prompt"
                                },
                                {
                                    "name": "personGeneration",
                                    "type": "select",
                                    "label": "Person Generation Rules",
                                    "validate": {
                                        "enum": [
                                            "allow_adult",
                                            "dont_allow"
                                        ]
                                    }
                                },
                                {
                                    "name": "aspectRatio",
                                    "type": "select",
                                    "label": "Aspect Ratio",
                                    "validate": {
                                        "enum": [
                                            "16:9",
                                            "9:16"
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "id": 15,
                        "module": "instagram-business:CreateAReelPost",
                        "version": 1,
                        "metadata": {
                            "designer": {
                                "x": 654,
                                "y": -162,
                                "messages": [
                                    {
                                        "category": "setup",
                                        "severity": "error",
                                        "message": "Value must not be empty."
                                    }
                                ]
                            }
                        }
                    }
                ],
                [
                    {
                        "id": 10,
                        "module": "gemini-ai:createAVideo",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 3816486
                        },
                        "filter": {
                            "name": "Video Filter",
                            "conditions": [
                                [
                                    {
                                        "a": "{{lower(4.`1`)}}",
                                        "b": "none",
                                        "o": "text:equal"
                                    }
                                ]
                            ]
                        },
                        "mapper": {
                            "model": "veo-2.0-generate-001",
                            "prompt": "{{4.`2`}}",
                            "aspectRatio": "16:9",
                            "enhancePrompt": true,
                            "durationSeconds": "8",
                            "personGeneration": "allow_adult"
                        },
                        "metadata": {
                            "designer": {
                                "x": 291,
                                "y": 509,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Google Sheets - Watch New Rows' [4] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "model": {
                                        "mode": "chose",
                                        "label": "VEO 2.0"
                                    },
                                    "addImage": {
                                        "mode": "chose"
                                    },
                                    "aspectRatio": {
                                        "mode": "chose",
                                        "label": "16:9"
                                    },
                                    "enhancePrompt": {
                                        "mode": "chose"
                                    },
                                    "personGeneration": {
                                        "mode": "chose",
                                        "label": "Allow Adults"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "gemini-ai-q9zyjp"
                                        },
                                        "label": "My Gemini AI connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:gemini-ai-q9zyjp",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "model",
                                    "type": "select",
                                    "label": "Model",
                                    "required": true
                                },
                                {
                                    "name": "prompt",
                                    "type": "text",
                                    "label": "Image Prompt"
                                },
                                {
                                    "name": "addImage",
                                    "type": "boolean",
                                    "label": "Add Cover Image"
                                },
                                {
                                    "name": "negativePrompt",
                                    "type": "text",
                                    "label": "Negative Prompt"
                                },
                                {
                                    "name": "durationSeconds",
                                    "type": "number",
                                    "label": "Video Duration in Seconds",
                                    "validate": {
                                        "max": 8,
                                        "min": 5
                                    }
                                },
                                {
                                    "name": "enhancePrompt",
                                    "type": "boolean",
                                    "label": "Enhance Prompt"
                                },
                                {
                                    "name": "personGeneration",
                                    "type": "select",
                                    "label": "Person Generation Rules",
                                    "validate": {
                                        "enum": [
                                            "allow_adult",
                                            "dont_allow"
                                        ]
                                    }
                                },
                                {
                                    "name": "aspectRatio",
                                    "type": "select",
                                    "label": "Aspect Ratio",
                                    "validate": {
                                        "enum": [
                                            "16:9",
                                            "9:16"
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "id": 17,
                        "module": "facebook-pages:UploadVideo",
                        "version": 6,
                        "metadata": {
                            "designer": {
                                "x": 670,
                                "y": 504,
                                "messages": [
                                    {
                                        "category": "setup",
                                        "severity": "error",
                                        "message": "Value must not be empty."
                                    }
                                ]
                            }
                        }
                    }
                ]
            ]
        },
        "zone": "us2.make.com",
        "notes": []
    }
}